* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Tahoma';
    font-style: normal;
    /* background-color: #fdfdfd; */

}

.containr {
    max-width: 120rem;
    margin-top: 40px auto;
}

@media (min-width:949px) {
    .hdr_menu {
        padding: 20px 0px 20px 0px;
        display: flex;
        align-items: flex-end;
        width: 100%;
        align-items: center;
        background-color: #D4F4F86B;
    }

    .hdr_menu a {
        text-decoration: none;
        padding: 10px 10px;
        color: #838383;
        font-size: 14px;
        font-weight: 500;
        background-color: transparent;
        margin: 0px 5px 0 5px;
        transition: 0.5s;

    }

    .hdr_menu a:hover,
    .hdr_menu a:hover {
        background-color: #00BCD5;
        color: #FFFFFF;
    }

    .menu_box {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
        transition: all 0.3s ease 0s;
    }

    .containr {
        max-width: 70rem;
        padding: 0 3.2rem;
    }

    .single--pro-pad {
        padding: 1rem;
    }

    .single--pro-pad2 {
        padding: 1rem;
    }

    .hero-section-data {
        margin: 50px 0;
    }

    .wel-data {
        margin: 2rem 0;
    }

    .fl-heading {
        text-transform: capitalize;
        font-weight: bold;
    }

    .intro-data {
        margin-bottom: 0;
    }

    .hero-section-img {
        margin-top: 50px;
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:950px) {
    .hdr_menu {
        display: flex;
        align-items: flex-end;
        width: 100%;
        align-items: center;
        background-color: #D4F4F86B;
    }

    .hero-section-data {
        margin: 50px 0;
    }

    .hero-section-img {
        width: 80%;
        margin-top: 50px;
    }

    .menu_btn__active {
        transform: rotate(45deg);
    }

    .menu_btn__active::before {
        top: 0 !important;
        transform: rotate(0deg);
    }

    .menu_btn__active::after {
        top: 0 !important;
        transform: rotate(90deg);
    }

    .menu_btn {
        position: absolute;
        top: 22px;
        right: 40px;
        width: 26px;
        padding: 15px 0;
        cursor: pointer;
        z-index: 999;
    }

    .menu_btn__inactive,
    .menu_btn__inactive::before,
    .menu_btn__inactive::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #00BCD5;
        transition: all 0.3s ease 0s;
    }

    .menu_btn__inactive::before {
        content: '';
        top: -8px;
    }

    .menu_btn__inactive::after {
        content: '';
        top: 8px;
    }

    .show {
        display: block !important;
    }

    .menu_box {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 0 280px 0;
        padding: 80px 0;
        list-style: none;
        background-color: #57D8E9A3;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition: 0.1s;
        z-index: 998;
    }

    .hdr_menu a {
        display: block;
        padding: 12px 24px;
        color: #838383;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }

    .hdr_menu a:hover,
    .hdr_menu a:active {
        background-color: #00BCD5;
        color: #FFFFFF;
    }
}

/* Different width for Different Devices */

@media (max-width:767px) {
    .cart-trolley--link {
        position: relative;
    }

    .cart-trolley {
        position: relative;
        font-size: 1.7rem;
    }

    .cart-total--item {
        text-align: center;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        background-color: #00BCD5;
        color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        top: 0;
        left: 40px;

    }

    .containr {
        max-width: 30rem;
        padding: 0 1.2rem;
    }

    .single--pro-pad {
        padding: 0.2rem;
    }

    .single--pro-pad2 {
        padding: 0.2rem;
    }

    .grid-2-col {
        grid-template-columns: repeat(1, 2fr);
        padding: 10px;
    }

    .grid {
        display: grid;
        gap: 3.2rem;
        align-items: center;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5rem;
        padding: 10px;
    }

    .RectModal {
        height: 50%;
        width: 80%;
        position: relative;
        overflow: hidden;
        margin: 100px auto;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .containr {
        max-width: 40rem;
        padding: 0 3.2rem;
    }

    .cart-trolley--link {
        position: relative;
    }

    .cart-trolley {
        position: relative;
        font-size: 1.7rem;
    }

    .cart-total--item {
        text-align: center;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        top: 0;
        left: 40px;

    }

    .containr {
        max-width: 130rem;
        padding: 0 3.2rem;
    }

    .single--pro-pad {
        padding: 0.2rem;
    }

    .single--pro-pad2 {
        padding: 0.2rem;
    }

    .grid-2-col {
        grid-template-columns: repeat(2, 2fr);
        padding: 10px;
    }

    .grid {
        display: grid;
        gap: 3.2rem;
        align-items: center;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5rem;
        padding: 10px;
    }

    .RectModal {
        height: 55%;
        width: 80%;
        position: relative;
        overflow: hidden;
        margin: 100px auto;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .containr {
        max-width: 100rem;
        padding: 0 3.2rem;
    }

    .cart-trolley--link {
        position: relative;
    }

    .cart-trolley {
        position: relative;
        font-size: 1.7rem;
    }

    .single--pro-pad {
        padding: 1rem;
    }

    .single--pro-pad2 {
        padding: 1rem;
    }

    .cart-total--item {
        text-align: center;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        top: -20%;
        left: 60%;

    }

    .grid-2-col {
        grid-template-columns: repeat(2, 2fr);
        padding: 10px;
    }

    .grid {
        display: grid;
        gap: 3.2rem;
        align-items: center;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5rem;
        padding: 10px;
    }

    .RectModal {
        height: 65%;
        width: 50%;
        position: relative;
        overflow: hidden;
        margin: 100px auto;
    }
}

@media (min-width:1200px) {
    .cart-trolley--link {
        position: relative;
    }

    .single--pro-pad {
        padding: 1rem;
    }

    .single--pro-pad2 {
        padding: 1rem;
    }

    .cart-trolley {
        position: relative;
        font-size: 1.7rem;
    }

    .cart-total--item {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        display: grid;
        align-items: center;
        text-align: center;
        top: -20%;
        left: 60%;

    }

    .grid-2-col {
        grid-template-columns: repeat(2, 2fr);
        padding: 10px;
    }

    .grid {
        display: grid;
        gap: 3.2rem;
        align-items: center;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5rem;
        padding: 10px;
    }

    .RectModal {
        height: 65%;
        width: 50%;
        position: relative;
        overflow: hidden;
        margin: 100px auto;
    }
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    font-family: 'Baloo Paaji 2', cursive;
    padding: 10px;
}

.grid-container {
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    margin: 25px;
}

.crd {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222831;
    border-radius: 5px;
}

.store-image {
    padding: 15px;
    box-shadow: -31px -29px 5px 0px rgba(0, 0, 0, 0.75);
}

.wel--bg {
    background-image: url('../stylesheets/img/light-blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hamburger-menu {
    position: relative;
}

.menu-open .menu_box {
    display: flex;
}

.link--decor {
    text-decoration: none;
}